
<div id="wrapper">
  <div id="settings">
    <div id="info">
      <h1>Lissajous figure</h1>
      <h3>x(t) = A*sin(a*t + 𝛿)</h3>
      <h3>y(t) = B*sin(b*t)</h3>
    </div>
    <div class="block">
      <label>a = </label>
      <input class="abinput" #a type="number" [defaultValue]="1" (keyup)="paint(a.value, b.value)" (change)="paint(a.value, b.value)"/>
    </div>
    <div class="block" >
      <label>b = </label>
      <input #b class="abinput" type="number" [defaultValue]="2" (keyup)="paint(a.value, b.value)" (change)="paint(a.value, b.value)"/>
    </div>
    <div class="block">
      <label>𝛿 = </label>

      <mat-radio-group aria-label="Select an option" (change)="changeDelta($event.value)">
        <br/>
        <mat-radio-button checked value="pi/2">π/2</mat-radio-button>
        <br/>
        <mat-radio-button value="pi/4">π/4</mat-radio-button>
        <br/>
        <mat-radio-button value="pi/8">π/8</mat-radio-button>
        <br/>
        <mat-radio-button value="pi/16">π/16</mat-radio-button>
        <br/>
        <mat-radio-button value="pi">π</mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="block">
      <label>A = </label>
      <mat-slider thumbLabel (change)="changeSizeA($event.value)" min="0.05" max="3" step="0.05" value="1" ></mat-slider>
    </div>

    <div class="block">
      <label>B = </label>
      <mat-slider thumbLabel (change)="changeSizeB($event.value)" min="0.05" max="3" step="0.05" value="1"></mat-slider>
    </div>

    <div class="block">
      <label>
      <input type="checkbox" [defaultValue]="false" [(ngModel)]="isCoordinateSystemVisible" (change)="changeVisibleOfCoordinateSystem()">
        coordinate system axis</label>
    </div>
<!--
    <div class="block">
      <button (click)="paint(a.value, b.value)">show chart</button>
    </div>-->
  </div>
  <div id = "drawing">
    <canvas #canvas width="1000" height="700"></canvas>
  </div>
</div>







